<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href='/'>Sākums</a></li>
                <li><a href='spele'>Spēle</a></li>
                <li><a href='top'>Tops</a></li>
                <li><a href='par'>Par projektu</a></li>
            </ul>
</div>
<div class="speles_lauk">
    <div class="bloks">
        <div>😱</div>
</div>
<div class="bloks">
    <div>😆</div>
</div>
<div class="bloks">
    <div>😤</div>
</div>
<div class="bloks">
    <div>🙂‍↕️</div>
</div>
<div class="bloks">
    <div>🤠</div>
</div>
<div class="bloks">
    <div>😈</div>
</div>
<div class="bloks">
    <div>👽</div>
</div>
<div class="bloks">
    <div>🙄</div>
</div>
<div class="bloks">
    <div>😕</div>
</div>
<div class="bloks">
    <div>😇</div>
</div>
<div class="bloks">
    <div>🙃</div>
</div>
<div class="bloks">
    <div>🤩</div>
</div>

</body>





</html>